# Ejercicios:

- Definir listas

  1. Haz una lista llamada `colores` donde almacenemos los primeros 6 colores que te vengan a la mente.

In [9]:
colores = ['rojo', 'verde', 'azul', 'amarillo', 'naranja', 'morado']

2. Haz una lista llamada `buses` de las líneas de autobuses que pasan por tu casa.

In [10]:
buses = [197, 182, 184]

3. Apunta la previsión de temperaturas máximas para todos los días de esta semana en `temperaturas`.

In [11]:
temperaturas = [16, 15, 16, 18, 17, 16, 18 ]

- Convertir a listas

  4. Convierte tu(s) nombre(s) a una lista `nombres` de caracteres.

In [12]:
nombre = 'Raquel'
list (nombre)

['R', 'a', 'q', 'u', 'e', 'l']

 5. Convierte tu(s) apellido(s) a una lista `apellidos` de caracteres.

In [13]:
apellidos = 'Martín Rodríguez'
list (apellidos)

['M',
 'a',
 'r',
 't',
 'í',
 'n',
 ' ',
 'R',
 'o',
 'd',
 'r',
 'í',
 'g',
 'u',
 'e',
 'z']

- Usar `len()`, `min()`, y `max()`

  6. ¿Cuántos búses pasan por tu casa?

In [14]:
len(buses)

3

7. ¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?

In [15]:
len (apellidos)

16

8. ¿Cuáles son las temperaturas máximas (`t_max`) y mínimas (`t_min`) para esta semana?

In [16]:
mínima= min(temperaturas)
máxima = max(temperaturas)
print('la temperatura mínima para esta semana es', mínima)
print('la temperatura máxima para esta semana es', máxima)

la temperatura mínima para esta semana es 15
la temperatura máxima para esta semana es 18

- Usar `in`, `not in`

  9. Hay una 'e' en tu nombre?

In [17]:
'e' in nombre

True

 10. Tienes el color 'rosa' en la lista de colores?

In [18]:
'rosa' in colores

False

11. ¿Tiene una 'x' tu nombre? (Usa `not in`)

In [19]:
'x' not in nombre

True

- Hacer copias y borrar sus contenidos

  12. Copia el contenido de `temperaturas` a `temperaturas2`, y `temperaturas3`.

In [20]:
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()
print (temperaturas2)
print (temperaturas3)

[16, 15, 16, 18, 17, 16, 18]
[16, 15, 16, 18, 17, 16, 18]

13. Vacía el contenido de la variable `temperaturas2`

In [21]:
temperaturas2.clear()
print(temperaturas2)

[]

 14. Imprime el contenido de `temperaturas` y `temperaturas2`.

In [22]:
print (temperaturas)
print (temperaturas2)

[16, 15, 16, 18, 17, 16, 18]
[]

15. Copia el contenido de `nombres` a `nombres2`.

In [23]:
nombre2=list(nombre)
print(nombre2)

['R', 'a', 'q', 'u', 'e', 'l']

16. Copia el contenido de `apellidos` a `apellidos2`.

In [24]:

apellidos=['Martin','Rodríguez']
apellidos2=apellidos.copy()
print (apellidos2)

['Martin', 'Rodríguez']

- Cambiar el orden de los contenidos

  17. Ordena la variable `temperaturas3` de mayor a menor.

In [25]:
temperaturas3
temperaturas3.sort(reverse=True)
print (temperaturas3)

[18, 18, 17, 16, 16, 16, 15]

 18. Ordena los caracteres de tu nombre y tu apellido en las listas `nombres2` y `apellidos2`. Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?

In [26]:
nombre2.sort()
print (nombre2) 
#pone las mayúsculas primero, por orden alfabético y después las minúsculas por orden alfabético
apellidos2.sort()
print (apellidos)

['R', 'a', 'e', 'l', 'q', 'u']
['Martin', 'Rodríguez']

- Contar duplicados

  19. ¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?

In [34]:
print ('mi nombre tiene',(nombre.count('a')), 'veces la letra a')
print ('mi nombre tiene', (nombre.count('o')), 'veces la letra o')

mi nombre tiene 1 veces la letra a
mi nombre tiene 0 veces la letra o

 20. Verifica si los resultados de ejercicio 19 son iguales para la lista `nombres2`.

In [35]:
print ('mi nombre tiene',(nombre2.count('a')), 'veces la letra a')
print ('mi nombre tiene', (nombre2.count('o')), 'veces la letra o')

mi nombre tiene 1 veces la letra a
mi nombre tiene 0 veces la letra o

21. ¿Cuántas veces esta semana llega la temperatura a la `t_max`? ¿Y cuántas a la `t_min`?

In [43]:
t_max=max (temperaturas)
t_min=min (temperaturas)
print ('esta semana llegará la temperatura a', t_max,'grados', temperaturas.count(t_max), 'veces')
print ('esta semana llegará la temperatura a', t_min,'grados', temperaturas.count(t_min), 'veces')

esta semana llegará la temperatura a 18 grados 2 veces
esta semana llegará la temperatura a 15 grados 1 veces

- Definir otra lista

  22. La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.

In [55]:
dias_semana=['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

23. Define temperaturas_diciembre 👇🏽:
    ```python

      temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                            12, 11, 13, 17, 18, 15, 
                            15, 17, 17, 13, 13, 11,
                            12, 10, 12, 14, 12, 12,
                            11, 12, 16, 16, 14, 17, 18]

In [49]:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 12, 11, 13, 17, 18, 15, 15, 17, 17, 13, 13, 11, 12, 10, 12, 14, 12, 12, 11, 12, 16, 16, 14, 17, 18]

- Indexación de listas

  24. ¿Cuál es el penúltimo día de la semana?

In [54]:
dias_semana[-2]

'saturday'

25. ¿Cuál es el último elemento de la lista de temperaturas de diciembre?

In [50]:
temperaturas_diciembre[-1]

18

27. ¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?

In [56]:
'friday' in dias_semana
dias_semana.index('friday')

4

 28. ¿Cuál era la temperatura máxima en diciembre?

In [59]:
print('la temperatura máxima en diciembre fue de',max(temperaturas_diciembre), 'grados')

la temperatura máxima en diciembre fue de 18 grados

29. Encuentra el índice de 'miércoles' en dias_es.

In [62]:
dias_es=['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']
dias_es.index ('miércoles')

2

- Bonus

  30. Imprime esta frase en pantalla: 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).'
---

In [82]:
temperaturas_semana = [13, 14, 10, 11, 10, 12, 13]
t2_max = max (temperaturas_semana)
t2__min = min(temperaturas_semana)
t14 = temperaturas_semana.count (14)
t10 = temperaturas_semana.count (10)
print ('La temperatura máxima esta semana será de', t2_max, 'grados que ocurrirá en', t14, 'día. El día más frío tendrá una temperatura máxima de', t2__min, 'grados que ocurrirá en', t10,'días')

La temperatura máxima esta semana será de 14 grados que ocurrirá en 1 día. El día más frío tendrá una temperatura máxima de 10 grados que ocurrirá en 2 días